{% load staticfiles %}
<html>
<head>
  <title>Movie manager app</title>
  <link rel="stylesheet" href='{% static 'css/base_style.css' %}'></link>
</head>

<body>

<h2> MOVIE MANAGER WEB APP</h2>


<a href="{% url 'popular_movies' %}">Popular movies</a>
{% if user.is_authenticated %}
  <span id='welcome_msg'>You are logged in, {{ user.username }}</a>. <a href="{% url 'my_profile' %}">View profile</a> <a href="{% url 'logout' %}?next={% url 'homepage' %}">Logout</a></span>
{% else %}
  <span id='login'><a href="{% url 'login' %}?next={% url 'user' %}">Login</a> <a href = "{% url 'register' %}">Sign up</a></span>
{% endif %}
<hr>

{% block content %}
{% endblock %}

</body>
</html>
