{% extends 'movie_wishlist/base.html' %}

{% block content %}


{% if movie %}
  <p><strong>Name of movie:</strong> {{movie.Title}}<p>
  <p><strong>Year of released:</strong> {{movie.Year}}<p>
  <p><strong>Actors:</strong> {{movie.Actors}}</p>
  <p><strong>Director:</strong> {{movie.Director}}</p>
{% else %}
  <p>No movie with that name found</p>
{% endif %}

<div>
<form action = "{% url 'add_to_watchlist' %}" method = "POST">{% csrf_token %}
  <input type = 'hidden' id = 'Title' name = 'Title' value = {{movie.Title}} />
  <input type = 'hidden' id ="Year" name= "Year" value = {{movie.Year}} />
  <input type = 'hidden' id = 'Director' name = 'Director' value = {{movie.Director}} />
  <input type = 'hidden' id ="Actors" name= "Actors" value = {{movie.Actors}}/>
  <input type = 'submit' value = 'Add to wishlist?'/>
  <input type = 'submit' name = 'Cancel' value = 'Cancel' />
</form>
</div>

<iframe style= "float:right-top;" width="560" height="315" src= "http://www.youtube.com/embed/movie.Title" frameborder= "0" allow= "autoplay; encripted-media"allowfullscreen></iframe>

<p>Go back to user main page? <a href = "{% url 'user' %}">click here</a></p>

{% endblock %}
