{% extends 'movie_wishlist/base.html' %}

{% block content %}

<h3>Your movie watch list page.</h3>
{% if message %}
  {{message}}
{% else %}

  <div>
    <p>Movie search</p>
    <form action = "{% url 'movie_list' %}">
      {{ form }}
      <input type = 'submit' value = 'Search' />
    </form>
  </div>

  <div>
    {% for list in watchlist %}
      <p><a href = "{% url 'movie_detail' pk=list.pk %}"><strong> {{list.name}}</a></p>

    {% endfor %}
  </div>
{% endif %}

<p>Go back to user main page? <a href = "{% url 'user' %}">click here</a></p>

{% endblock %}
